body {
  padding-left: 40px;
  font-family: Arial, sans-serif;
  background-color: #14bdac;
  font-weight: bold;
}

button {
  color: #f2ebd3;
  font-weight: bold;
  border: 0;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #0da192;
  cursor: pointer;
}

#player{
  padding-left: 130px;
  font-size: 18px;
}

table {
  text-align: center;
  border-collapse: collapse;
  cursor: pointer;
  border-style: hidden;
}

td {
  border: 7px solid #0da192;
  width:100px;
  height:100px;
  cursor: pointer;
  font-size: 30px;
  color: #f2ebd3;
  font-weight: bold;
}

#score {
  padding-left: 65px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
